<div>
<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events" class="m-2 space-y-2">
  <%= line_chart @events.group_by_day(:date).count %>
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
  <div>
  <%= link_to "New event", new_event_path, class:"btn-primary"%>
  </div>
</div>

</div>